@font-face
{
    font-family: 'BalsamiqSans';
    src: url("/static/font/BalsamiqSans-Regular.ttf") format("truetype")
}

body
{
    font-family: 'BalsamiqSans';
    background: url("/static/images/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header
{
    margin-top: 5%;
    text-align: center;
}

nav
{
    text-align: center;
}

img#orange
{
    width: 128px;
    height: 128px;
}

div#content
{
    width: 60%;
    margin: auto;
    background-color: rgba(255, 157, 71, 0.3);
    padding: 1cm;
    margin-top: 2%;
    border-radius: 30px;
}

span#chats
{
    font-size: x-large;
    font-weight: 500;
    padding-right: 3%;
}

a.btn-outline-danger
{
    margin-right: 1%;
    width:12%
}

img#question-mark
{
    width:15px;
    height: 15px;
    margin-left: 5px;
}

img#question-mark:hover
{
    transform: scale3d(1.3, 1.3, 1.3);
    cursor: pointer;
}

form
{
    margin-left: 0%;
    margin-top: 1%;
    text-align: center;
}

form>input
{
    width: 265px;
    height: 32px;
    margin-top: 10px;
    text-align: center;
    border-radius: 25px;
}

form>input:focus
{
    border: 5px solid #ffaa00;
}

#select-friends-form, .find-chat-form, .notification-form, .leave-chat-form
{
    text-align: left;
}


.confirm-btn
{
    width:200px;
}

.find-chat-btn, .join-chat-btn, .add-friend-btn
{
    width: auto;
    margin-left: 2%;
}

.chatter-btn
{
    background-color: rgba(255, 119, 0, 0.5);
    color: white;
    height: 50px;
    border-radius: 25px;
    padding-left: 1cm;
    padding-right: 1cm;
    border: 1px solid #17181c;
}

.option-btn
{
    width: 20%;
    margin-left: 1%;
}

.home-btn
{
    width: 14%;
    background-color: rgba(81, 189, 99, 0.8);
}

.log-out-btn, .log-out-btn:hover
{
    background-color: rgba(255, 15, 51, 0.7);
    width: 14%;
}

.chatter-btn:hover, div#no-account-yet:hover
{
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: rgba(255, 157, 71, 0.5);
    color: white;
}

input#notification-cb
{
    margin-left: 2%;
    width: auto;
    height: auto;
    margin-top: auto;
}

input#notification-cb:hover
{
    transform: scale3d(1.3, 1.3, 1.3);
    cursor: pointer;
}


div#chat
{
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 1cm;
    overflow: auto;
    max-height: 480px;
    border: 1px solid white;
}

.table
{
    text-align: center;
}

.message
{
    font-size: medium;
    padding: 25px;
    border-radius: 25px;
    width: 50.1%;
    margin-bottom: 2%;
}

.message:hover
{
    transform: scale3d(1.05, 1.05, 1.05);
}

.message>span
{
    font-style: italic;
}

.message-user
{
    background-color: rgba(158, 255, 210, 0.5);
    float:right;
}

.message-friend
{
    background-color: rgba(255, 71, 38, 0.5);
    float:left;
}

.message-system
{
    background-color: rgba(38, 139, 255, 0.5);
    float: left;
    width: 100%;
    text-align: center;
}

.message-field
{
    margin-top: 1%;
    padding: 1cm;
    overflow: auto;
}

.ta-message, .ta-message:focus
{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 75%;
    float: right;
}

.msg-icon
{
    width: 4%;
    height: 5%;
}

.send-btn
{
    float: left;
    width: 20%;
}


div#no-account-yet
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color:rgba(255, 119, 0, 0.5);
    color: white;

    width: 265px;

    border-radius: 25px;
    border: 1px solid #17181c;
    
    text-align: center;
}

footer
{
    position: fixed;

    left: 0;
    bottom: 0;

    width: 100%;

    background-color: #17181c;
    color: white;

    text-align: center;
    
    border-radius: 25px;
}
