{% extends 'base.html' %}

{% block title %} chatter: {{chat.name}} {% endblock %}

{% block content %}
    <div id="content">
        <h3>Logged in as {{user.login}}</h3>
        <p>
            <span id="chats">{{chat.name}}
            ({% for member in chat.members %} {{member.login}} {% endfor %}) </span>
        </p>
        <p>
            <a class="btn chatter-btn option-btn">Leave chat</a>
            <input id="notification-cb" type="checkbox" name="notifications"/> Notifications
            <img id="question-mark" src="{{url_for('static', filename='images/question_mark.png')}}"
            data-toggle="popover" title="Notifications" data-content="Check this box to receive mail
            notifications about new messages in this chat."/>
        </p>

        <div id="chat">
            {% if messages %}
                {% for message in messages %}
                    {% if message.author_id == 0 %}
                        <div class="message message-system">
                            <span>{{message.text}}</span>
                        </div>
                    {% elif message.author_id == user.id %}
                        <div class="message message-user">
                            <span><b>{{message.author_login}}</b> {{message.date}}</span>
                            <hr/>
                            {{message.text}}
                        </div>
                    {% else %}
                        <div class="message message-friend">
                            <span><b>{{message.author_login}}</b> {{message.date}}</span>
                            <hr/>
                            {{message.text}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="message message-system">No messages yet.</p>
            {% endif %}
        </div>

        <div class="message-field">
            <form action="{{url_for('send_message', chat_id=chat.id)}}" method="POST">
                <p>
                    <input type="submit" class="chatter-btn send-btn" value="Send"/>
                    <textarea class="form-control ta-message" rows="4" cols="10" name="message" required></textarea>
                </p>
            </form>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
         $('[data-toggle="popover"]').popover()
        })
    </script>

    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
{% endblock %}