{% extends 'base.html' %}

{% block title %} Create chat {% endblock %}

{% block content %}
    <div id="content">
        <h3>Logged in as {{login}}</h3>
        <h2>Create new chat</h2>
        <form id="select-friends-form" action="create_chat" method="POST">
            <input type="text" name="chat_name" placeholder="Chat name"/><br/><br/>
            <h4>Select friends:</h4>
            {% if friends|length > 0 %}
                {% for friend in friends %}
                    <p>{{friend.login}} <input type="checkbox" name="invite_to_chat" value="{{friend.id}}"/></p>
                {% endfor %}
            {% else %}
                <p>You have no friends. In order to create a chat make a friend first.</p>
            {% endif %}
            <br/><br/>
            <input class="chatter-btn" type="submit" value="Create"/>
        </form>
    </div>
{% endblock %}