{% extends 'base.html' %}

{% block title %} Find chat {% endblock %}

{% block content %}
    <div id="content">
        <h3>Logged in as {{login}}</h3>
        <h2>Find chat</h2>
        <form id="select-friends-form" action="find_chat" method="POST">
            <input type="text" name="chat_name" placeholder="Chat name"/>
            <input class="chatter-btn find-chat-btn" type="submit" value="Find"/>
        </form>

        <br/>
        {% if found_chats %}
            <h4>Results:</h4>
            {% for chat in found_chats %}
                <form class="find-chat-form" action="{{url_for('join_chat', chat_id=chat.id)}}" method="POST">
                    <p><input class="chatter-btn join-chat-btn" type="submit" value="Join"/> {{chat.name}}
                    ({% for member in chat.members %} {{member.login}} {% endfor %}) </p>
                </form>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}