{% extends 'base.html' %}

{% block title %} Find chat {% endblock %}

{% block content %}
    <div id="content">
        {% include 'navbar.html' %}
        <h3>Logged in as {{login}}</h3>
        <h2>Friends</h2>

        {% if friends|length > 0 %}
            {% for friend in friends %}
                <p>{{friend.login}}</p>
            {% endfor %}
        {% else %}
            <p>You have no friends.</p>
        {% endif %}


        <form action="add_friend" method="POST">
            <h4>Add friend</h4>
            <input type="text" name="friend" placeholder="friend's login" required>
            <input class="chatter-btn add-friend-btn" type="submit" value="Add">
        </form>
    </div>
{% endblock %}