{% extends 'base.html' %}

{% block title %} Home {% endblock %}



{% block content %}
    <div id="content">
        {% include 'navbar.html' %}
        <h3>Logged in as {{user.login}}</h3>
        <table class="table table-hover table-striped">
            <tbody>
                {% if chats|length > 0 %}
                    {% for chat in chats %}
                        <tr>
                            <td><a href="{{url_for('chat', chat_id=chat.id)}}">{{chat.name}}</a></td>
                            <td>
                                {% for member in chat.members %}
                                    {{member.login}}
                                {% endfor %}
                            </td>
                            <td>
                                {% if user.id ~ '' in chat.messages[-1].seen_users_ids %}
                                    <img class="msg-icon" src="{{url_for('static', filename='images/message_not_read.png')}}"/>
                                {% else %}
                                    <img class="msg-icon" src="{{url_for('static', filename='images/message_read.png')}}"/>
                                {% endif %}
                                {% set unread = namespace(value=0) %}
                                {% for message in chat.messages %}
                                    {% if user.id ~ '' in message.seen_users_ids %}
                                        {% set unread.value = unread.value + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if unread.value > 0 %}
                                    <span class="badge-pill badge-primary">{{unread.value}}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>You have not joined any chats yet.</tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}