{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div id="content">
        <h3>Logged in as user</h3>
        <p>
            <a class="btn chatter-btn option-btn">Create chat</a>
            <a class="btn chatter-btn option-btn">Find chat</a>
            <a class="btn chatter-btn option-btn">Friends</a>
            <a href="{{url_for('log_out')}}" class="btn chatter-btn option-btn log-out-btn">Log out</a>
        </p>
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <td>Chat name</td>
                    <td>user1, user2, user3</td>
                    <td>message img</td>
                </tr>
                <tr>
                    <td>Chat name</td>
                    <td>user1, user2, user3</td>
                    <td>message img</td>
                </tr>
                <tr>
                    <td>Chat name</td>
                    <td>user1, user2, user3</td>
                    <td>message img</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}