{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div id="content">
        <h3>Logged in as {{login}}</h3>
        <p>
            <a href="{{url_for('create_chat')}}" class="btn chatter-btn option-btn">Create chat</a>
            <a href="{{url_for('find_chat')}}" class="btn chatter-btn option-btn">Find chat</a>
            <a href="{{url_for('friends')}}" class="btn chatter-btn option-btn">Friends</a>
            <a href="{{url_for('log_out')}}" class="btn chatter-btn option-btn log-out-btn">Log out</a>
        </p>
        <table class="table table-hover table-striped">
            <tbody>
                {% if chats|length > 0 %}
                    {% for chat in chats %}
                        <tr>
                            <td><a href="{{url_for('chat', chat_id=chat.id)}}">{{chat.name}}</a></td>
                            <td>
                                {% for member in chat.members %}
                                    {{member.login}}
                                {% endfor %}
                            </td>
                            <td>message img</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>You have not joined any chats yet.</p>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}